/* root font size : 100px ; pagesize : 1920px */

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 0 no-repeat;
    background-size: cover;
    overflow: auto;
    font: normal 100% Helvetica, Arial, "Microsoft yahei";
    background-color: #fff;
}

body {
    font-size: 0.16rem;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

input::-ms-clear {
    display: none;
}

li {
    list-style-type: none;
}

a,
a:hover,
a:visited,
a:link,
a:active {
    color: #fff;
    font-size: 0.2rem;
    text-decoration: none;
    outline: none;
}

blockquote,
body,
button,
caption,
dd,
div,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
input,
legend,
li,
menu,
ol,
p,
pre,
table,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

abbr,
body,
fieldset,
html,
iframe,
img {
    border: 0;
}

a,
button {
    cursor: pointer;
}

.layui-layer-loading .layui-layer-content {
    position: absolute !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.mask {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}

.alert-wrapper,
.mask {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.alert-wrapper {
    z-index: 9999;
    position: absolute;
}

.alert-wrapper .alert-box {
    position: absolute;
    width: 3.8rem;
    height: 2.2rem;

    /* left: 50%;
    top: 50%;
    transform: translateX(-51%,-60%);
    -webkit-transform: translateX(-51%,-60%);
    -moz-transform: translateX(-51%,-60%);
    -ms-transform: translateX(-51%,-60%);
    -o-transform: translateX(-51%,-60%); */

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
   
    background: #eee;
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 0.06rem 0.15rem 0 rgba(0, 0, 0, .15);
    box-shadow: 0px 0.06rem 0.15rem 0px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.alert-wrapper .alert-box.alert-box-1 {
    width: 5.6rem;
}

.alert-wrapper .alert-header {
    position: relative;
    height: 0.24rem;
}

.alert-wrapper .alert-body {
    padding-bottom: 0.42rem;
}

.alert-wrapper .alert-footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 0 0.16rem 0.16rem;
    height: 0.26rem;
    text-align: right;
}

.btn {
    font-size: 0.16rem;
    width: 1rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: center;
    background-color: #29ab91;
    color: #fff;
    border: none;
    box-shadow: 0px 0.08rem 0.15rem -0.08rem rgba(7, 107, 242, 0.6);
    letter-spacing: 0.0084rem;
    border-radius: 0.15rem;
    -webkit-border-radius: 0.15rem;
    -moz-border-radius: 0.15rem;
    -ms-border-radius: 0.15rem;
    -o-border-radius: 0.15rem;
}

.btn.btn-cancle {
    background-color: #e3e6ec;
    color: #313c4c;
}

.f-mgr-10 {
    margin-right: 0.1rem;
}

.check-compatibility {
    padding: 0.45rem 0.16rem 0.42rem;
    font-family: Microsoft yahei;
    font-size: 0.18rem;
    color: #313c4c;
    line-height: 0.2rem;
}

.icon-tip {
    position: relative;
    top: 0.05rem;
    display: inline-block;
    width: 0.3rem;
    height: 0.3rem;
    margin-right: 0.08rem;
    background: url("../image/white_board/wrapper_tip.png") 50% no-repeat;
    background-size: 0.22rem 0.22rem;
}

.check-compatibility .tip-content {
    display: inline-block;
    width: 4.8rem;
    vertical-align: top;
}

.check-compatibility .c1,
.check-compatibility .c2,
.check-compatibility .c3 {
    margin-bottom: 0.1rem;
    display: block;
}

.alert-wrapper .alert-header .title {
    margin-left: 0.16rem;
    margin-top: 0.1rem;
    font-family: Microsoft yahei;
    font-size: 0.18rem;
    color: #29ab91;
    line-height: 0.14rem;
}

.alert-wrapper .alert-header .close {
    position: absolute;
    right: 0.11rem;
    top: 0px;
    width: 0.14rem;
    height: 0.14rem;
    cursor: pointer;
    background: url("../image/white_board/close_page.png") no-repeat;
    background-size: 0.14rem 0.14rem;
}

/******************************登录页****************************/

#page_login {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    background: url("../image/white_board/bg.jpg") no-repeat center center;
    background-size: 100% 100%;
}

.login_pg {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
    overflow-y: scroll;
}

.login_form {
    width: 8.60rem;
    height: 5.55rem;
    z-index: 1;
    position: absolute;

    /* left: 50%;
    top: 50%;
    transform: translateX(-50%,-50%);
    -webkit-transform: translateX(-50%,-50%);
    -moz-transform: translateX(-50%,-50%);
    -ms-transform: translateX(-50%,-50%);
    -o-transform: translateX(-50%,-50%); */
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.login_logo {
    width: 100%;
    height: 1.12rem;
    margin-top: 0.56rem;
}

.login_logo img {
    display: inline-block;
    width: 1.12rem;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.login_box {
    width: 100%;
    height: 2.9rem;
    margin-top: 0.3rem;
}

.login_box>div {
    float: left;
}

.login_box_left,
.login_box_right {
    width: 4.28rem;
}

.login_box_middle {
    width: 1px;
    height: 100%;
}

.login_box_middle div {
    width: 1px;
    height: 2.56rem;
    margin-top: 0.2rem;
    background-color: #ccc;
}

.login_page_log {
    width: 100%;
    height: 1.12rem;
}

.login_page_log img {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.login_page_form {
    height: 0.5rem;
    width: 2.8rem;
    margin-left: 0.66rem;
    border-bottom: 1px solid #ccc;
    margin-top: 0.2rem;
    overflow: hidden;
    padding-left: 0.1rem;
}

.login_page_form input {
    display: inline-block;
    outline: none;
    height: 0.46rem;
    line-height: 0.46rem;
    border: none;
    font-size: 0.18rem;
}

.login_page_form input::-webkit-input-placeholder {
    color: #999;
}

.form_input {
    height: 0.5rem;
    width: 2.6rem;
    margin-left: 0.1rem;
    border-bottom: 1px solid #ccc;
    margin-top: 0.2rem;
    overflow: hidden;
}

.login_page_form2 {
    height: 0.5rem;
    width: 4rem;
    margin-left: 0.38rem;
    margin-top: 0.2rem;
    overflow: hidden;
}

.login_page_form2 span {
    display: inline-block;
    width: 100%;
    height: 0.3rem;
    line-height: 0.3rem;
    font-size: 0.18rem;
    color: #888;
    margin-top: 0.2rem;
}

.enmeet_btn {
    width: 2.9rem;
    margin-left: 0.66rem;
    margin-top: 0.4rem;
    height: 0.54rem;
    line-height: 0.54rem;
    background-color: #29ab91;
    color: #fff;
    text-align: center;
    font-size: 0.18rem;
    border-radius: 6px;
    cursor: pointer;
}

.login_box_right .enmeet_btn {
    margin-left: 0.72rem;
}

#login_sel {
    width: 100%;
    height: 0.24rem;
    line-height: 0.24rem;
    text-align: center;
    color: #29ab91;
    font-size: 0.18rem;
    margin-top: 0.18rem;
    cursor: pointer;
}

.logset_hide {
    position: fixed;
    width: 5rem;
    height: 4.4rem;
    left: 50%;
    top: 0;
    margin-left: -2.5rem;
    background-color: #fff;
    z-index: 10;
    border-radius: 4px;
    border: 1px solid #ccc;
    -webkit-box-shadow: #666 0px 0px 0.2rem;
    -moz-box-shadow: #666 0px 0px 0.2rem;
    box-shadow: #666 0px 0px 0.2rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#loginSet {
    width: 100%;
    height: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.26rem;
    color: #29ab91;
    margin-top: 0.2rem;
}

.form_input {
    width: 4rem;
    margin-left: 0.5rem;
    margin-top: 0.26rem;
    height: 0.5rem;
    border: 1px solid #29ab91;
    overflow: hidden;
    color: #29ab91;
    font-size: 0.18rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    -o-border-radius: 0.25rem;
}

.form_input label {
    margin-left: 0.25rem;
}

.form_input input {
    display: inline-block;
    outline: none;
    border: none;
    /* width: 3.6rem; */
    margin-top: 0.1rem;
    height: 0.3rem;
    line-height: 0.3rem;
    text-align: left;
    color: #29ab91;
}

.form_input:last-child {
    border: none;
}

.form_input .page_confirm {
    width: 100%;
    height: 100%;
    background-color: #29ab91;
    line-height: 0.5rem;
    color: #fff;
    text-align: center;
    font-size: 0.18rem;
    cursor: pointer;
}

/* ******************白板****************** */

#draw-container {
    width: 1300px;
    height: 900px;
    margin-left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    position: relative;
}

.type {
    width: 100%;
    height: auto;
    margin: 10px 0;
    border-bottom: 1px solid #fff;
}

.type:after {
    content: "";
    display: block;
    clear: both;
}

.type li {
    float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin: 0 auto;
    background-color: #0078ff;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.type li:hover {
    background-color: #fff;
    color: #0078ff;
    box-shadow: 0 0 10px rgba(0, 120, 255, 0.77);
}

.type .typeactive {
    background-color: #fff;
    color: #0078ff;
    box-shadow: 0 0 10px rgba(0, 120, 255, 0.77);
}

.type li.pen img {
    width: 25px;
    height: 25px;
}

#setting-box::after {
    content: "";
    display: block;
    clear: both;
}

.settings {
    /* width: 100%; */
    height: auto;
    margin: 0;
    border-bottom: 1px solid #fff;
    float: left;
}

.settings::after {
    content: "";
    display: block;
    clear: both;
}

.settings li {
    float: left;
    margin-left: 25px;
}

.settings li#closewb {
    margin-right: 15px;
    margin-left: 0px;
}

.settings li::after {
    content: "";
    display: block;
    clear: both;
}

.settings li button {
    float: left;
    width: 60px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    margin-bottom: 15px;
    background-color: #39abfb;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.settings li#closewb button {
    width: 70px;
    background-color: #65cccf;
}

.settings li#back button img {
    height: 90%;
}

.settings li#recover button img {
    height: 90%;
}

.settings li#clear button {
    background-color: #e85158;
}

.settings li button.disabled-button {
    background-color: #aaa !important;
}

.color-linewidth-box>div {
    float: left;
    position: relative;
    width: 70px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    background-color: #39abfb;
    transition: all 0.7s;
    margin-left: 25px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.color-linewidth-box>div span {
    display: block;
    float: left;
    width: 35px;
    height: 100%;
    color: #fff;
    text-align: center;
    color: #fff;
    transition: all 0.3s;
}

.color-linewidth-box .color-box .cur-color {
    float: left;
    width: 30px;
    height: 25px;
    line-height: 25px;
    margin-top: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #008080;
    border-radius: 3px;
}

.color-linewidth-box .color-box .color-list {
    position: absolute;
    width: 48px;
    height: 300px;
    top: 0px;
    padding-top: 30px;
    left: 35px;
    z-index: 99;
}

.color-linewidth-box .color-box .color-list li {
    float: left;
    height: 25px;
    width: 30px;
    margin-top: 5px;
    border-radius: 3px;
    box-sizing: border-box;
}

.color-linewidth-box .color-box .color-list li:hover {
    border: 2px solid #fff;
}

.color-linewidth-box .color-box .color-list li:first-child {
    background-color: #000000;
}

.color-linewidth-box .color-box .color-list li:nth-child(2) {
    background-color: #FF0000;
}

.color-linewidth-box .color-box .color-list li:nth-child(3) {
    background-color: #800080;
}

.color-linewidth-box .color-box .color-list li:nth-child(4) {
    background-color: #0000FF;
}

.color-linewidth-box .color-box .color-list li:nth-child(5) {
    background-color: #008080;
}

.color-linewidth-box .color-box .color-list li:nth-child(6) {
    background-color: #FF4500;
}

.color-linewidth-box .color-box .color-list li:nth-child(7) {
    background-color: #FFFF00;
}

.color-linewidth-box .color-box .color-list li:nth-child(8) {
    background-color: #00FFFF;
}

.color-linewidth-box .color-box .color-list li:last-child {
    background-color: #FFC0CB;
}

.color-linewidth-box .linewidth-box .cur-width {
    float: left;
    position: relative;
    width: 30px;
    height: 20px;
    line-height: 20px;
    margin-top: 8px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
}

.color-linewidth-box .linewidth-box .cur-width span {
    position: absolute;
    width: 90%;
    height: 2px;
    background-color: #000;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.color-linewidth-box .linewidth-box .width-list {
    position: absolute;
    width: 38px;
    height: 300px;
    top: 0px;
    padding-top: 30px;
    left: 35px;
    z-index: 99;
}

.color-linewidth-box .linewidth-box .width-list li {
    float: left;
    position: relative;
    height: 20px;
    width: 30px;
    margin-top: 8px;
    border-radius: 3px;
    box-sizing: border-box;
}

.color-linewidth-box .linewidth-box .width-list li:hover span {
    background-color: yellowgreen;
}

.color-linewidth-box .linewidth-box .width-list li span {
    position: absolute;
    width: 90%;
    background-color: #000;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
}

.color-linewidth-box .linewidth-box .width-list li:first-child span {
    height: 2px;
}

.color-linewidth-box .linewidth-box .width-list li:nth-child(2) span {
    height: 4px;
}

.color-linewidth-box .linewidth-box .width-list li:nth-child(3) span {
    height: 6px;
}

#logout {
    position: absolute;
    right: 20px;
    top: 55px;
    z-index: 99;
    font-size: 16px;
}

#logout button {
    width: 60px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #e85158;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}

/* #canvas-box #board-listname ul {
    width: 100%;
    height: 30px;
    background-color: #ccc;
}
#canvas-box #board-listname ul li {
    float: left;
    box-sizing: border-box;
    border: 1px solid #000;
    border-width: 1px 1px 0 0;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
#canvas-box #board-listname ul li:first-child {
    border-left: 1px solid #000;
}
#canvas-box #board-listname ul li.active {
    background-color: #fff;
    color: #000;
}
*/

.wb-canvas {
    border: 1px solid #e2e2e2;
    border-top-width: 0;
    cursor: url("../image/white_board/cursor-pen.ico"), auto;
}

.layui-tab-content#canvasList {
    padding: 0px !important;
}

.layui-tab {
    margin: 0px !important;
}